@import '../../styles/variables.scss';

.gradient {
	width: 100vw;
	height: 4px;
	background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient-hover 30s ease infinite;
}

.nav {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	padding: 0.25rem 1rem;
	a {
		padding: 0.5rem;
		margin: 0.5rem 0.2rem;
		text-align: center;
		vertical-align: middle;
	}
	.nav-items {
		display: flex;
		.nav-active {
			border: 2px solid grey;
			background-color: $bg-secondary;
			color: $text-primary;
		}
		a {
			border-radius: 0.5rem;
			border: 2px solid transparent;
			&:hover {
				border: 2px solid $bg-highlight;
			}
		}
	}
}

@keyframes gradient-hover {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
