@import '../variables.scss';

.mini-link {
	min-height: 2.5rem;
	min-width: 2.5rem;
	&:hover {
		cursor: pointer;
		background-color: $bg-secondary;
		border: 1px solid $bg-highlight;
		border-radius: 10px;
	}
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}
