@import '../variables.scss';

.about {
	.image-container {
		overflow: hidden;
		margin-bottom: 3rem;
		z-index: 0;
		.image {
			border-radius: 0.5rem;
			object-fit: cover;
			filter: brightness(80%);
		}
	}
	.text-container {
		padding: 0 3rem;
	}
	.header {
		font-size: $text-header;
		margin-bottom: 1rem;
	}
	.paragraph {
		padding-bottom: 2rem;
		text-align: justify;
	}
	.row-experience {
		display: flex;
		justify-content: space-between;
		.highlight {
			color: $text-light;
		}
		.work-date {
			width: 15%;
			float: right;
		}
		.work-details {
			width: 85%;
			display: flex;
			justify-content: space-between;
			padding-right: 1rem;
		}
	}
}
