@import './variables.scss';

@font-face {
	font-family: 'Mononoki';
	src: url('/static/fonts/mononoki-Regular.woff') format('woff'), url('/static/fonts/mononoki-Regular.woff2') format('woff'), url('/static/fonts/mononoki-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mononoki';
	src: url('/static/fonts/mononoki-Bold.woff') format('woff'), url('/static/fonts/mononoki-Bold.woff2') format('woff'), url('/static/fonts/mononoki-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Mononoki, Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace;
	font-weight: bold;
	background-color: $bg-primary;
	font-size: $text-rg;
	color: $text-primary;
	@media (max-width: 600px) {
		font-size: $text-sm;
	}
	overflow-x: hidden;
	line-height: 2rem;
	min-height: 100vh;
}

main {
	max-width: 880px;
	padding: 10rem 0px 5rem;
	min-height: calc(100vh - 50px);
	margin: 0 auto;
	@media (max-width: 890px) {
		margin: 0 2rem;
		padding: 8.5rem 0px 2rem;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.title {
	color: $text-light;
	font-size: $text-title;
	margin-bottom: 3rem;
	line-height: 4rem;
	@media (max-width: 890px) {
		font-size: $text-header;
		margin-bottom: 2rem;
	}
}

.header {
	color: $text-light;
	font-size: $text-header;
	margin-bottom: 2rem;
}

.paragraph {
	padding-bottom: 2rem;
	text-align: justify;
}

.highlight {
	color: $text-light;
	border-bottom: 2px solid;
	padding-bottom: 2px;
	&:hover {
		color: $text-highlight;
	}
}

hr {
	border-color: $text-highlight-light;
	margin: 2rem auto;
}
