@import './variables.scss';

@font-face {
	font-family: 'Mononoki';
	src: url('/static/fonts/mononoki-Regular.woff') format('woff'), url('/static/fonts/mononoki-Regular.woff2') format('woff'), url('/static/fonts/mononoki-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mononoki';
	src: url('/static/fonts/mononoki-Bold.woff') format('woff'), url('/static/fonts/mononoki-Bold.woff2') format('woff'), url('/static/fonts/mononoki-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Mononoki, Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace;
	font-size: $text-rg;
	font-weight: bold;
	background-color: $bg-primary;
	color: $text-primary;
}

main {
	max-width: 1420px;
	margin: 0px auto;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
