$bg-primary: #111111;
$bg-secondary: #222222;
$bg-tertiary: #2a2a2a;
$bg-highlight: #363636;
$text-primary: #b1b1b1;
$text-secondary: #f6f6f6;

$bg-primary-light: #f6f6f6;
$bg-secondary-light: #ffeea8;
$bg-tertiary-light: #ffe066;
$bg-highlight-light: #f7b801;
$text-primary-light: #2e2e2e;
$text-secondary-light: #454545;
