$bg-primary: #111111;
$bg-secondary: #1b1b1b;
$bg-tertiary: #2a2a2a;
$bg-highlight: #363636;
$text-primary: #b1b1b1;
$text-highlight: #ffe066;
$text-highlight-light: #ffe785;
$text-light: #f6f6f6;

// Text Sizes
$text-xs: 0.75rem;
$text-sm: 0.9rem;
$text-rg: 1rem;
$text-lg: 1.125rem;
$text-title: 3rem;
$text-header: 2rem;
